<h1>Home page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo velit laudantium veniam vitae soluta totam voluptatum eos delectus sit. Quisquam quis dolores placeat aliquam, iusto aut dignissimos soluta autem quo, sed, molestias recusandae expedita quos ad architecto tempore id facilis? Consectetur, aperiam doloremque. Soluta nemo iste rem veniam dolores!</p>
<a href="/about">Go to About page</a>